<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokebuilder - Assemble Your Dream Team</title>
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <!-- Link to Tailwind built css -->
    <link rel="stylesheet" href="css/style.css">
    <!-- Link to custom vanilla css -->
    <link rel="stylesheet" href="css/customcss.css">
</head>
<body>