<%- include('partials/header.ejs') %>

    <!-- Full Page Container -->
    <main class="flex">
        <!-- Pokemon Menu -->
        <section class="bg-gray-300 h-screen px-8 py-6 hidden lg:flex flex-col justify-center menu z-50 w-screen lg:w-1/4 min-w fixed inset-y-0 lg:relative overflow-y-hidden">
            <a href="/" aria-label="Link to Pokebuilder home page"><img class="h-12 lg:h-16 mb-4 lg:mb-12 px-10 mx-auto" src="img/pokebuilder.png" alt="Pokebuilder Logo"></a>

            <a href="/teams" class="bg-white text-gray-800 rounded py-2 mb-4 lg:mb-8 font-semibold w-full text-center" aria-label="Visit all teams page">All Teams</a>
            <div class="flex justify-between mb-4 lg:mb-8">
                <a href="/login" class="bg-white text-gray-800 rounded mr-4 py-2 px-4 w-1/2 font-semibold border border-blue-400 text-center" aria-label="Login page">Login</a>
                <a href="/signup" class="rounded py-2 px-4 w-1/2 font-semibold bg-blue-400 text-white text-center" aria-label="Sign up page">Sign Up</a>
            </div>
            <!-- Pokemon Search Form -->
            <div class="mb-4 lg:mb-8 relative">
                <input id="search_input" class="w-full rounded py-1 px-4" type="text" placeholder="Search Pokemon..." onkeyup="searchPokemon()" aria-label="Search pokemon name here">

                <!-- Button caused issues with resetting the page and not defaulting the searched items so was removed -->
                <!-- <button class="absolute deleteInput">  
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="8" cy="8" r="8" fill="#C4C4C4"/>
                        <path d="M8.86771 7.99999L11.5139 5.35999C11.6297 5.24411 11.6948 5.08694 11.6948 4.92306C11.6948 4.75919 11.6297 4.60202 11.5139 4.48614C11.398 4.37026 11.2408 4.30516 11.0769 4.30516C10.9131 4.30516 10.7559 4.37026 10.64 4.48614L8.00001 7.13229L5.36001 4.48614C5.24413 4.37026 5.08697 4.30516 4.92309 4.30516C4.75921 4.30516 4.60205 4.37026 4.48617 4.48614C4.37029 4.60202 4.30519 4.75919 4.30519 4.92306C4.30519 5.08694 4.37029 5.24411 4.48617 5.35999L7.13232 7.99999L4.48617 10.64C4.42849 10.6972 4.38271 10.7653 4.35147 10.8402C4.32022 10.9152 4.30414 10.9957 4.30414 11.0769C4.30414 11.1581 4.32022 11.2386 4.35147 11.3136C4.38271 11.3886 4.42849 11.4566 4.48617 11.5138C4.54338 11.5715 4.61144 11.6173 4.68643 11.6485C4.76142 11.6798 4.84185 11.6959 4.92309 11.6959C5.00433 11.6959 5.08476 11.6798 5.15975 11.6485C5.23474 11.6173 5.30281 11.5715 5.36001 11.5138L8.00001 8.86768L10.64 11.5138C10.6972 11.5715 10.7653 11.6173 10.8403 11.6485C10.9153 11.6798 10.9957 11.6959 11.0769 11.6959C11.1582 11.6959 11.2386 11.6798 11.3136 11.6485C11.3886 11.6173 11.4567 11.5715 11.5139 11.5138C11.5715 11.4566 11.6173 11.3886 11.6486 11.3136C11.6798 11.2386 11.6959 11.1581 11.6959 11.0769C11.6959 10.9957 11.6798 10.9152 11.6486 10.8402C11.6173 10.7653 11.5715 10.6972 11.5139 10.64L8.86771 7.99999Z" fill="#F1F1F1"/>
                    </svg>
                </button>   -->
            </div>
            <!-- Parent Container For Pokemon List -->
            <div class="h-full overflow-y-scroll bg-gray-400 rounded p-4">
                <div id="poke_container">
                    
                </div>
            </div>
        </section>

        <!-- Pokemon Team Section -->
        <section class="bg-hero-img lg:h-screen flex-1 flex justify-center p-0 xl:p-16 relative">
            <!-- Menu Toggle Button -->
            <button class="hideMenuBtn z-50 absolute transition-all r-180">
                <svg width="47" height="48" viewBox="0 0 47 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M46.5 23.8573C46.5 36.7643 36.1955 47.2146 23.5 47.2146C10.8045 47.2146 0.5 36.7643 0.5 23.8573C0.5 10.9503 10.8045 0.5 23.5 0.5C36.1955 0.5 46.5 10.9503 46.5 23.8573Z" fill="white" stroke="#4299E1"/>
                    <path d="M24.724 16.3907L17.1146 24L24.724 31.6093L26.6093 29.724L20.8853 24L26.6093 18.276L24.724 16.3907Z" fill="#4299E1"/>
                </svg>
            </button>

            <div class="bg-gray-300 mx-auto rounded pt-8 px-2 md:p-8 w-full lg:w-auto">
                <!-- Team Name Form -->
                <div class="mb-8">
                    <form>
                        <label class="text-2xl font-bold block mb-4 text-center lg:text-left" for="team_name">Team Name</label>
                        <input class="rounded px-4 py-1 mr-2 w-full mb-2 lg:w-64 lg:mb-0" type="text" name="team_name" id="team_name" placeholder="Team Name...">
                        <button class="text-white bg-green-500 px-4 py-1 rounded w-full lg:w-auto" type="submit">Submit</button>
                    </form>
                </div>
                <!-- Pokemon Team Container -->
                <div class="grid grid-cols-2 md:grid-cols-2 lg:grid-cols-3 grid-rows-2 gap-2 md:gap-4 teamPicker">
                    <!-- Pokemon Card 1 -->
                    <div class="free relative shadow-md">
                        <button class="closeBtn absolute z-40 right-0">
                            <span>
                                <svg width="28" height="28" viewBox="0 0 47 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M46.5 23.8573C46.5 36.7643 36.1955 47.2146 23.5 47.2146C10.8045 47.2146 0.5 36.7643 0.5 23.8573C0.5 10.9503 10.8045 0.5 23.5 0.5C36.1955 0.5 46.5 10.9503 46.5 23.8573Z" fill="white" stroke="#FF0000"/>
                                    <path d="M25.41 23.3497L29.71 18.9945C29.8983 18.8033 30.0041 18.544 30.0041 18.2737C30.0041 18.0033 29.8983 17.744 29.71 17.5529C29.5217 17.3617 29.2663 17.2543 29 17.2543C28.7337 17.2543 28.4783 17.3617 28.29 17.5529L24 21.9182L19.71 17.5529C19.5217 17.3617 19.2663 17.2543 19 17.2543C18.7337 17.2543 18.4783 17.3617 18.29 17.5529C18.1017 17.744 17.9959 18.0033 17.9959 18.2737C17.9959 18.544 18.1017 18.8033 18.29 18.9945L22.59 23.3497L18.29 27.7049C18.1963 27.7993 18.1219 27.9116 18.0711 28.0353C18.0203 28.159 17.9942 28.2917 17.9942 28.4257C17.9942 28.5597 18.0203 28.6924 18.0711 28.8161C18.1219 28.9398 18.1963 29.0521 18.29 29.1465C18.383 29.2417 18.4936 29.3172 18.6154 29.3687C18.7373 29.4203 18.868 29.4468 19 29.4468C19.132 29.4468 19.2627 29.4203 19.3846 29.3687C19.5064 29.3172 19.617 29.2417 19.71 29.1465L24 24.7811L28.29 29.1465C28.383 29.2417 28.4936 29.3172 28.6154 29.3687C28.7373 29.4203 28.868 29.4468 29 29.4468C29.132 29.4468 29.2627 29.4203 29.3846 29.3687C29.5064 29.3172 29.617 29.2417 29.71 29.1465C29.8037 29.0521 29.8781 28.9398 29.9289 28.8161C29.9797 28.6924 30.0058 28.5597 30.0058 28.4257C30.0058 28.2917 29.9797 28.159 29.9289 28.0353C29.8781 27.9116 29.8037 27.7993 29.71 27.7049L25.41 23.3497Z" fill="#FF0000"/>
                                </svg>   
                            </span>
                        </button>
                        <div class="relative">    
                            <div class="bg-gray-200 w-auto lg:w-56 h-56 flex items-center justify-center rounded-t z-10 typeCard">
                                <div class="bg-white rounded-full border-4 typeBorder">
                                    <img src="img/unown.png" alt="">
                                </div>
                            </div>
                            <div class="statCard inset-0 absolute hidden bg-gray-200 w-auto lg:w-56 h-56 items-center justify-center rounded-t">
                                <div class="pokeStats flex w-full">
                                    <div class="w-full p-2">
                                        <p class="hpStat text-xs">HP:</p>
                                        <div class="w-full h-3 bg-gray-500">
                                            <div class="stats hpBar h-3 bg-pink-600"></div>
                                        </div>
                                        <p class="atkStat text-xs">ATK:</p>
                                        <div class="w-full h-3 bg-gray-500">
                                            <div class="stats atkBar h-3 bg-pink-600"></div>
                                        </div>
                                        <p class="defStat text-xs">DEF:</p>
                                        <div class="w-full h-3 bg-gray-500">
                                            <div class="stats defBar h-3 bg-pink-600"></div>
                                        </div>
                                        <p class="spAtkStat text-xs">SP.ATK:</p>
                                        <div class="w-full h-3 bg-gray-500">
                                            <div class="stats spAtkBar h-3 bg-pink-600"></div>
                                        </div>
                                        <p class="spDefStat text-xs">SP.DEF:</p>
                                        <div class="w-full h-3 bg-gray-500">
                                            <div class="stats spDefBar h-3 bg-pink-600"></div>
                                        </div>
                                        <p class="spdStat text-xs">SPD:</p>
                                        <div class="w-full h-3 bg-gray-500">
                                            <div class="stats spdBar h-3 bg-pink-600"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="pokeInfo w-auto lg:w-56 bg-white flex p-2 relative rounded-b">
                            <p class="mr-2 text-gray-600">#??</p>
                            <h3 class="font-semibold text-gray-700">??????</h3>
                            <button class="absolute right-2 statBtn">
                                <span>
                                    <svg class="statOff" width="23" height="24" viewBox="0 0 23 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M11.5 1.88272C5.94316 1.88272 1.4375 6.45689 1.4375 12.0982C1.4375 17.7395 5.94316 22.3137 11.5 22.3137C17.0568 22.3137 21.5625 17.7395 21.5625 12.0982C21.5625 6.45689 17.0568 1.88272 11.5 1.88272ZM11.5 20.5807C6.88652 20.5807 3.14453 16.7818 3.14453 12.0982C3.14453 7.4146 6.88652 3.61571 11.5 3.61571C16.1135 3.61571 19.8555 7.4146 19.8555 12.0982C19.8555 16.7818 16.1135 20.5807 11.5 20.5807Z"/>
                                        <path d="M10.4219 8.085C10.4219 8.37528 10.5355 8.65368 10.7377 8.85894C10.9398 9.0642 11.2141 9.17951 11.5 9.17951C11.7859 9.17951 12.0602 9.0642 12.2623 8.85894C12.4645 8.65368 12.5781 8.37528 12.5781 8.085C12.5781 7.79471 12.4645 7.51632 12.2623 7.31106C12.0602 7.10579 11.7859 6.99048 11.5 6.99048C11.2141 6.99048 10.9398 7.10579 10.7377 7.31106C10.5355 7.51632 10.4219 7.79471 10.4219 8.085ZM12.0391 10.6389H10.9609C10.8621 10.6389 10.7812 10.721 10.7812 10.8213V17.0236C10.7812 17.1239 10.8621 17.206 10.9609 17.206H12.0391C12.1379 17.206 12.2188 17.1239 12.2188 17.0236V10.8213C12.2188 10.721 12.1379 10.6389 12.0391 10.6389Z"/>
                                    </svg>                                    
                                </span>
                            </button>
                        </div>
                    </div>
                    <!-- Pokemon Card 2 -->
                    <div class="free relative shadow-md">
                        <button class="closeBtn absolute z-40 right-0">
                            <span>
                                <svg width="28" height="28" viewBox="0 0 47 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M46.5 23.8573C46.5 36.7643 36.1955 47.2146 23.5 47.2146C10.8045 47.2146 0.5 36.7643 0.5 23.8573C0.5 10.9503 10.8045 0.5 23.5 0.5C36.1955 0.5 46.5 10.9503 46.5 23.8573Z" fill="white" stroke="#FF0000"/>
                                    <path d="M25.41 23.3497L29.71 18.9945C29.8983 18.8033 30.0041 18.544 30.0041 18.2737C30.0041 18.0033 29.8983 17.744 29.71 17.5529C29.5217 17.3617 29.2663 17.2543 29 17.2543C28.7337 17.2543 28.4783 17.3617 28.29 17.5529L24 21.9182L19.71 17.5529C19.5217 17.3617 19.2663 17.2543 19 17.2543C18.7337 17.2543 18.4783 17.3617 18.29 17.5529C18.1017 17.744 17.9959 18.0033 17.9959 18.2737C17.9959 18.544 18.1017 18.8033 18.29 18.9945L22.59 23.3497L18.29 27.7049C18.1963 27.7993 18.1219 27.9116 18.0711 28.0353C18.0203 28.159 17.9942 28.2917 17.9942 28.4257C17.9942 28.5597 18.0203 28.6924 18.0711 28.8161C18.1219 28.9398 18.1963 29.0521 18.29 29.1465C18.383 29.2417 18.4936 29.3172 18.6154 29.3687C18.7373 29.4203 18.868 29.4468 19 29.4468C19.132 29.4468 19.2627 29.4203 19.3846 29.3687C19.5064 29.3172 19.617 29.2417 19.71 29.1465L24 24.7811L28.29 29.1465C28.383 29.2417 28.4936 29.3172 28.6154 29.3687C28.7373 29.4203 28.868 29.4468 29 29.4468C29.132 29.4468 29.2627 29.4203 29.3846 29.3687C29.5064 29.3172 29.617 29.2417 29.71 29.1465C29.8037 29.0521 29.8781 28.9398 29.9289 28.8161C29.9797 28.6924 30.0058 28.5597 30.0058 28.4257C30.0058 28.2917 29.9797 28.159 29.9289 28.0353C29.8781 27.9116 29.8037 27.7993 29.71 27.7049L25.41 23.3497Z" fill="#FF0000"/>
                                </svg>   
                            </span>
                        </button>
                        <div class="relative">    
                            <div class="bg-gray-200 w-auto lg:w-56 h-56 flex items-center justify-center rounded-t typeCard">
                                <div class="bg-white rounded-full border-4 typeBorder">
                                    <img src="img/unown.png" alt="">
                                </div>
                            </div>
                            <div class="statCard inset-0 absolute hidden bg-gray-200 w-auto lg:w-56 h-56 items-center justify-center rounded-t">
                                <div class="pokeStats flex w-full">
                                    <div class="w-full p-2">
                                        <p class="hpStat text-xs">HP:</p>
                                        <div class="w-full h-3 bg-gray-500">
                                            <div class="stats hpBar h-3 bg-pink-600"></div>
                                        </div>
                                        <p class="atkStat text-xs">ATK:</p>
                                        <div class="w-full h-3 bg-gray-500">
                                            <div class="stats atkBar h-3 bg-pink-600"></div>
                                        </div>
                                        <p class="defStat text-xs">DEF:</p>
                                        <div class="w-full h-3 bg-gray-500">
                                            <div class="stats defBar h-3 bg-pink-600"></div>
                                        </div>
                                        <p class="spAtkStat text-xs">SP.ATK:</p>
                                        <div class="w-full h-3 bg-gray-500">
                                            <div class="stats spAtkBar h-3 bg-pink-600"></div>
                                        </div>
                                        <p class="spDefStat text-xs">SP.DEF:</p>
                                        <div class="w-full h-3 bg-gray-500">
                                            <div class="stats spDefBar h-3 bg-pink-600"></div>
                                        </div>
                                        <p class="spdStat text-xs">SPD:</p>
                                        <div class="w-full h-3 bg-gray-500">
                                            <div class="stats spdBar h-3 bg-pink-600"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="pokeInfo w-auto lg:w-56 bg-white flex p-2 relative rounded-b">
                            <p class="mr-2 text-gray-600">#??</p>
                            <h3 class="font-semibold text-gray-700">??????</h3>
                            <button class="absolute right-2 statBtn">
                                <span>
                                    <svg class="statOff" width="23" height="24" viewBox="0 0 23 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M11.5 1.88272C5.94316 1.88272 1.4375 6.45689 1.4375 12.0982C1.4375 17.7395 5.94316 22.3137 11.5 22.3137C17.0568 22.3137 21.5625 17.7395 21.5625 12.0982C21.5625 6.45689 17.0568 1.88272 11.5 1.88272ZM11.5 20.5807C6.88652 20.5807 3.14453 16.7818 3.14453 12.0982C3.14453 7.4146 6.88652 3.61571 11.5 3.61571C16.1135 3.61571 19.8555 7.4146 19.8555 12.0982C19.8555 16.7818 16.1135 20.5807 11.5 20.5807Z"/>
                                        <path d="M10.4219 8.085C10.4219 8.37528 10.5355 8.65368 10.7377 8.85894C10.9398 9.0642 11.2141 9.17951 11.5 9.17951C11.7859 9.17951 12.0602 9.0642 12.2623 8.85894C12.4645 8.65368 12.5781 8.37528 12.5781 8.085C12.5781 7.79471 12.4645 7.51632 12.2623 7.31106C12.0602 7.10579 11.7859 6.99048 11.5 6.99048C11.2141 6.99048 10.9398 7.10579 10.7377 7.31106C10.5355 7.51632 10.4219 7.79471 10.4219 8.085ZM12.0391 10.6389H10.9609C10.8621 10.6389 10.7812 10.721 10.7812 10.8213V17.0236C10.7812 17.1239 10.8621 17.206 10.9609 17.206H12.0391C12.1379 17.206 12.2188 17.1239 12.2188 17.0236V10.8213C12.2188 10.721 12.1379 10.6389 12.0391 10.6389Z"/>
                                    </svg>                                    
                                </span>
                            </button>
                        </div>
                    </div>
                    <!-- Pokemon Card 3 -->
                    <div class="free relative shadow-md">
                        <button class="closeBtn absolute z-40 right-0">
                            <span>
                                <svg width="28" height="28" viewBox="0 0 47 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M46.5 23.8573C46.5 36.7643 36.1955 47.2146 23.5 47.2146C10.8045 47.2146 0.5 36.7643 0.5 23.8573C0.5 10.9503 10.8045 0.5 23.5 0.5C36.1955 0.5 46.5 10.9503 46.5 23.8573Z" fill="white" stroke="#FF0000"/>
                                    <path d="M25.41 23.3497L29.71 18.9945C29.8983 18.8033 30.0041 18.544 30.0041 18.2737C30.0041 18.0033 29.8983 17.744 29.71 17.5529C29.5217 17.3617 29.2663 17.2543 29 17.2543C28.7337 17.2543 28.4783 17.3617 28.29 17.5529L24 21.9182L19.71 17.5529C19.5217 17.3617 19.2663 17.2543 19 17.2543C18.7337 17.2543 18.4783 17.3617 18.29 17.5529C18.1017 17.744 17.9959 18.0033 17.9959 18.2737C17.9959 18.544 18.1017 18.8033 18.29 18.9945L22.59 23.3497L18.29 27.7049C18.1963 27.7993 18.1219 27.9116 18.0711 28.0353C18.0203 28.159 17.9942 28.2917 17.9942 28.4257C17.9942 28.5597 18.0203 28.6924 18.0711 28.8161C18.1219 28.9398 18.1963 29.0521 18.29 29.1465C18.383 29.2417 18.4936 29.3172 18.6154 29.3687C18.7373 29.4203 18.868 29.4468 19 29.4468C19.132 29.4468 19.2627 29.4203 19.3846 29.3687C19.5064 29.3172 19.617 29.2417 19.71 29.1465L24 24.7811L28.29 29.1465C28.383 29.2417 28.4936 29.3172 28.6154 29.3687C28.7373 29.4203 28.868 29.4468 29 29.4468C29.132 29.4468 29.2627 29.4203 29.3846 29.3687C29.5064 29.3172 29.617 29.2417 29.71 29.1465C29.8037 29.0521 29.8781 28.9398 29.9289 28.8161C29.9797 28.6924 30.0058 28.5597 30.0058 28.4257C30.0058 28.2917 29.9797 28.159 29.9289 28.0353C29.8781 27.9116 29.8037 27.7993 29.71 27.7049L25.41 23.3497Z" fill="#FF0000"/>
                                </svg>   
                            </span>
                        </button>
                        <div class="relative">    
                            <div class="bg-gray-200 w-auto lg:w-56 h-56 flex items-center justify-center rounded-t typeCard">
                                <div class="bg-white rounded-full border-4 typeBorder">
                                    <img src="img/unown.png" alt="">
                                </div>
                            </div>
                            <div class="statCard inset-0 absolute hidden bg-gray-200 w-auto lg:w-56 h-56 items-center justify-center rounded-t">
                                <div class="pokeStats flex w-full">
                                    <div class="w-full p-2">
                                        <p class="hpStat text-xs">HP:</p>
                                        <div class="w-full h-3 bg-gray-500">
                                            <div class="stats hpBar h-3 bg-pink-600"></div>
                                        </div>
                                        <p class="atkStat text-xs">ATK:</p>
                                        <div class="w-full h-3 bg-gray-500">
                                            <div class="stats atkBar h-3 bg-pink-600"></div>
                                        </div>
                                        <p class="defStat text-xs">DEF:</p>
                                        <div class="w-full h-3 bg-gray-500">
                                            <div class="stats defBar h-3 bg-pink-600"></div>
                                        </div>
                                        <p class="spAtkStat text-xs">SP.ATK:</p>
                                        <div class="w-full h-3 bg-gray-500">
                                            <div class="stats spAtkBar h-3 bg-pink-600"></div>
                                        </div>
                                        <p class="spDefStat text-xs">SP.DEF:</p>
                                        <div class="w-full h-3 bg-gray-500">
                                            <div class="stats spDefBar h-3 bg-pink-600"></div>
                                        </div>
                                        <p class="spdStat text-xs">SPD:</p>
                                        <div class="w-full h-3 bg-gray-500">
                                            <div class="stats spdBar h-3 bg-pink-600"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="pokeInfo w-auto lg:w-56 bg-white flex p-2 relative rounded-b">
                            <p class="mr-2 text-gray-600">#??</p>
                            <h3 class="font-semibold text-gray-700">??????</h3>
                            <button class="absolute right-2 statBtn">
                                <span>
                                    <svg class="statOff" width="23" height="24" viewBox="0 0 23 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M11.5 1.88272C5.94316 1.88272 1.4375 6.45689 1.4375 12.0982C1.4375 17.7395 5.94316 22.3137 11.5 22.3137C17.0568 22.3137 21.5625 17.7395 21.5625 12.0982C21.5625 6.45689 17.0568 1.88272 11.5 1.88272ZM11.5 20.5807C6.88652 20.5807 3.14453 16.7818 3.14453 12.0982C3.14453 7.4146 6.88652 3.61571 11.5 3.61571C16.1135 3.61571 19.8555 7.4146 19.8555 12.0982C19.8555 16.7818 16.1135 20.5807 11.5 20.5807Z"/>
                                        <path d="M10.4219 8.085C10.4219 8.37528 10.5355 8.65368 10.7377 8.85894C10.9398 9.0642 11.2141 9.17951 11.5 9.17951C11.7859 9.17951 12.0602 9.0642 12.2623 8.85894C12.4645 8.65368 12.5781 8.37528 12.5781 8.085C12.5781 7.79471 12.4645 7.51632 12.2623 7.31106C12.0602 7.10579 11.7859 6.99048 11.5 6.99048C11.2141 6.99048 10.9398 7.10579 10.7377 7.31106C10.5355 7.51632 10.4219 7.79471 10.4219 8.085ZM12.0391 10.6389H10.9609C10.8621 10.6389 10.7812 10.721 10.7812 10.8213V17.0236C10.7812 17.1239 10.8621 17.206 10.9609 17.206H12.0391C12.1379 17.206 12.2188 17.1239 12.2188 17.0236V10.8213C12.2188 10.721 12.1379 10.6389 12.0391 10.6389Z"/>
                                    </svg>                                    
                                </span>
                            </button>
                        </div>
                    </div>
                    <!-- Pokemon Card 4 -->
                    <div class="free relative shadow-md">
                        <button class="closeBtn absolute z-40 right-0">
                            <span>
                                <svg width="28" height="28" viewBox="0 0 47 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M46.5 23.8573C46.5 36.7643 36.1955 47.2146 23.5 47.2146C10.8045 47.2146 0.5 36.7643 0.5 23.8573C0.5 10.9503 10.8045 0.5 23.5 0.5C36.1955 0.5 46.5 10.9503 46.5 23.8573Z" fill="white" stroke="#FF0000"/>
                                    <path d="M25.41 23.3497L29.71 18.9945C29.8983 18.8033 30.0041 18.544 30.0041 18.2737C30.0041 18.0033 29.8983 17.744 29.71 17.5529C29.5217 17.3617 29.2663 17.2543 29 17.2543C28.7337 17.2543 28.4783 17.3617 28.29 17.5529L24 21.9182L19.71 17.5529C19.5217 17.3617 19.2663 17.2543 19 17.2543C18.7337 17.2543 18.4783 17.3617 18.29 17.5529C18.1017 17.744 17.9959 18.0033 17.9959 18.2737C17.9959 18.544 18.1017 18.8033 18.29 18.9945L22.59 23.3497L18.29 27.7049C18.1963 27.7993 18.1219 27.9116 18.0711 28.0353C18.0203 28.159 17.9942 28.2917 17.9942 28.4257C17.9942 28.5597 18.0203 28.6924 18.0711 28.8161C18.1219 28.9398 18.1963 29.0521 18.29 29.1465C18.383 29.2417 18.4936 29.3172 18.6154 29.3687C18.7373 29.4203 18.868 29.4468 19 29.4468C19.132 29.4468 19.2627 29.4203 19.3846 29.3687C19.5064 29.3172 19.617 29.2417 19.71 29.1465L24 24.7811L28.29 29.1465C28.383 29.2417 28.4936 29.3172 28.6154 29.3687C28.7373 29.4203 28.868 29.4468 29 29.4468C29.132 29.4468 29.2627 29.4203 29.3846 29.3687C29.5064 29.3172 29.617 29.2417 29.71 29.1465C29.8037 29.0521 29.8781 28.9398 29.9289 28.8161C29.9797 28.6924 30.0058 28.5597 30.0058 28.4257C30.0058 28.2917 29.9797 28.159 29.9289 28.0353C29.8781 27.9116 29.8037 27.7993 29.71 27.7049L25.41 23.3497Z" fill="#FF0000"/>
                                </svg>   
                            </span>
                        </button>
                        <div class="relative">    
                            <div class="bg-gray-200 w-auto lg:w-56 h-56 flex items-center justify-center rounded-t typeCard">
                                <div class="bg-white rounded-full border-4 typeBorder">
                                    <img src="img/unown.png" alt="">
                                </div>
                            </div>
                            <div class="statCard inset-0 absolute hidden bg-gray-200 w-auto lg:w-56 h-56 items-center justify-center rounded-t">
                                <div class="pokeStats flex w-full">
                                    <div class="w-full p-2">
                                        <p class="hpStat text-xs">HP:</p>
                                        <div class="w-full h-3 bg-gray-500">
                                            <div class="stats hpBar h-3 bg-pink-600"></div>
                                        </div>
                                        <p class="atkStat text-xs">ATK:</p>
                                        <div class="w-full h-3 bg-gray-500">
                                            <div class="stats atkBar h-3 bg-pink-600"></div>
                                        </div>
                                        <p class="defStat text-xs">DEF:</p>
                                        <div class="w-full h-3 bg-gray-500">
                                            <div class="stats defBar h-3 bg-pink-600"></div>
                                        </div>
                                        <p class="spAtkStat text-xs">SP.ATK:</p>
                                        <div class="w-full h-3 bg-gray-500">
                                            <div class="stats spAtkBar h-3 bg-pink-600"></div>
                                        </div>
                                        <p class="spDefStat text-xs">SP.DEF:</p>
                                        <div class="w-full h-3 bg-gray-500">
                                            <div class="stats spDefBar h-3 bg-pink-600"></div>
                                        </div>
                                        <p class="spdStat text-xs">SPD:</p>
                                        <div class="w-full h-3 bg-gray-500">
                                            <div class="stats spdBar h-3 bg-pink-600"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="pokeInfo w-auto lg:w-56 bg-white flex p-2 relative rounded-b">
                            <p class="mr-2 text-gray-600">#??</p>
                            <h3 class="font-semibold text-gray-700">??????</h3>
                            <button class="absolute right-2 statBtn">
                                <span>
                                    <svg class="statOff" width="23" height="24" viewBox="0 0 23 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M11.5 1.88272C5.94316 1.88272 1.4375 6.45689 1.4375 12.0982C1.4375 17.7395 5.94316 22.3137 11.5 22.3137C17.0568 22.3137 21.5625 17.7395 21.5625 12.0982C21.5625 6.45689 17.0568 1.88272 11.5 1.88272ZM11.5 20.5807C6.88652 20.5807 3.14453 16.7818 3.14453 12.0982C3.14453 7.4146 6.88652 3.61571 11.5 3.61571C16.1135 3.61571 19.8555 7.4146 19.8555 12.0982C19.8555 16.7818 16.1135 20.5807 11.5 20.5807Z"/>
                                        <path d="M10.4219 8.085C10.4219 8.37528 10.5355 8.65368 10.7377 8.85894C10.9398 9.0642 11.2141 9.17951 11.5 9.17951C11.7859 9.17951 12.0602 9.0642 12.2623 8.85894C12.4645 8.65368 12.5781 8.37528 12.5781 8.085C12.5781 7.79471 12.4645 7.51632 12.2623 7.31106C12.0602 7.10579 11.7859 6.99048 11.5 6.99048C11.2141 6.99048 10.9398 7.10579 10.7377 7.31106C10.5355 7.51632 10.4219 7.79471 10.4219 8.085ZM12.0391 10.6389H10.9609C10.8621 10.6389 10.7812 10.721 10.7812 10.8213V17.0236C10.7812 17.1239 10.8621 17.206 10.9609 17.206H12.0391C12.1379 17.206 12.2188 17.1239 12.2188 17.0236V10.8213C12.2188 10.721 12.1379 10.6389 12.0391 10.6389Z"/>
                                    </svg>                                    
                                </span>
                            </button>
                        </div>
                    </div>
                    <!-- Pokemon Card 5 -->
                    <div class="free relative shadow-md">
                        <button class="closeBtn absolute z-40 right-0">
                            <span>
                                <svg width="28" height="28" viewBox="0 0 47 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M46.5 23.8573C46.5 36.7643 36.1955 47.2146 23.5 47.2146C10.8045 47.2146 0.5 36.7643 0.5 23.8573C0.5 10.9503 10.8045 0.5 23.5 0.5C36.1955 0.5 46.5 10.9503 46.5 23.8573Z" fill="white" stroke="#FF0000"/>
                                    <path d="M25.41 23.3497L29.71 18.9945C29.8983 18.8033 30.0041 18.544 30.0041 18.2737C30.0041 18.0033 29.8983 17.744 29.71 17.5529C29.5217 17.3617 29.2663 17.2543 29 17.2543C28.7337 17.2543 28.4783 17.3617 28.29 17.5529L24 21.9182L19.71 17.5529C19.5217 17.3617 19.2663 17.2543 19 17.2543C18.7337 17.2543 18.4783 17.3617 18.29 17.5529C18.1017 17.744 17.9959 18.0033 17.9959 18.2737C17.9959 18.544 18.1017 18.8033 18.29 18.9945L22.59 23.3497L18.29 27.7049C18.1963 27.7993 18.1219 27.9116 18.0711 28.0353C18.0203 28.159 17.9942 28.2917 17.9942 28.4257C17.9942 28.5597 18.0203 28.6924 18.0711 28.8161C18.1219 28.9398 18.1963 29.0521 18.29 29.1465C18.383 29.2417 18.4936 29.3172 18.6154 29.3687C18.7373 29.4203 18.868 29.4468 19 29.4468C19.132 29.4468 19.2627 29.4203 19.3846 29.3687C19.5064 29.3172 19.617 29.2417 19.71 29.1465L24 24.7811L28.29 29.1465C28.383 29.2417 28.4936 29.3172 28.6154 29.3687C28.7373 29.4203 28.868 29.4468 29 29.4468C29.132 29.4468 29.2627 29.4203 29.3846 29.3687C29.5064 29.3172 29.617 29.2417 29.71 29.1465C29.8037 29.0521 29.8781 28.9398 29.9289 28.8161C29.9797 28.6924 30.0058 28.5597 30.0058 28.4257C30.0058 28.2917 29.9797 28.159 29.9289 28.0353C29.8781 27.9116 29.8037 27.7993 29.71 27.7049L25.41 23.3497Z" fill="#FF0000"/>
                                </svg>   
                            </span>
                        </button>
                        <div class="relative">    
                            <div class="bg-gray-200 w-auto lg:w-56 h-56 flex items-center justify-center rounded-t typeCard">
                                <div class="bg-white rounded-full border-4 typeBorder">
                                    <img src="img/unown.png" alt="">
                                </div>
                            </div>
                            <div class="statCard inset-0 absolute hidden bg-gray-200 w-auto lg:w-56 h-56 items-center justify-center rounded-t">
                                <div class="pokeStats flex w-full">
                                    <div class="w-full p-2">
                                        <p class="hpStat text-xs">HP:</p>
                                        <div class="w-full h-3 bg-gray-500">
                                            <div class="stats hpBar h-3 bg-pink-600"></div>
                                        </div>
                                        <p class="atkStat text-xs">ATK:</p>
                                        <div class="w-full h-3 bg-gray-500">
                                            <div class="stats atkBar h-3 bg-pink-600"></div>
                                        </div>
                                        <p class="defStat text-xs">DEF:</p>
                                        <div class="w-full h-3 bg-gray-500">
                                            <div class="stats defBar h-3 bg-pink-600"></div>
                                        </div>
                                        <p class="spAtkStat text-xs">SP.ATK:</p>
                                        <div class="w-full h-3 bg-gray-500">
                                            <div class="stats spAtkBar h-3 bg-pink-600"></div>
                                        </div>
                                        <p class="spDefStat text-xs">SP.DEF:</p>
                                        <div class="w-full h-3 bg-gray-500">
                                            <div class="stats spDefBar h-3 bg-pink-600"></div>
                                        </div>
                                        <p class="spdStat text-xs">SPD:</p>
                                        <div class="w-full h-3 bg-gray-500">
                                            <div class="stats spdBar h-3 bg-pink-600"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="pokeInfo w-auto lg:w-56 bg-white flex p-2 relative rounded-b">
                            <p class="mr-2 text-gray-600">#??</p>
                            <h3 class="font-semibold text-gray-700">??????</h3>
                            <button class="absolute right-2 statBtn">
                                <span>
                                    <svg class="statOff" width="23" height="24" viewBox="0 0 23 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M11.5 1.88272C5.94316 1.88272 1.4375 6.45689 1.4375 12.0982C1.4375 17.7395 5.94316 22.3137 11.5 22.3137C17.0568 22.3137 21.5625 17.7395 21.5625 12.0982C21.5625 6.45689 17.0568 1.88272 11.5 1.88272ZM11.5 20.5807C6.88652 20.5807 3.14453 16.7818 3.14453 12.0982C3.14453 7.4146 6.88652 3.61571 11.5 3.61571C16.1135 3.61571 19.8555 7.4146 19.8555 12.0982C19.8555 16.7818 16.1135 20.5807 11.5 20.5807Z"/>
                                        <path d="M10.4219 8.085C10.4219 8.37528 10.5355 8.65368 10.7377 8.85894C10.9398 9.0642 11.2141 9.17951 11.5 9.17951C11.7859 9.17951 12.0602 9.0642 12.2623 8.85894C12.4645 8.65368 12.5781 8.37528 12.5781 8.085C12.5781 7.79471 12.4645 7.51632 12.2623 7.31106C12.0602 7.10579 11.7859 6.99048 11.5 6.99048C11.2141 6.99048 10.9398 7.10579 10.7377 7.31106C10.5355 7.51632 10.4219 7.79471 10.4219 8.085ZM12.0391 10.6389H10.9609C10.8621 10.6389 10.7812 10.721 10.7812 10.8213V17.0236C10.7812 17.1239 10.8621 17.206 10.9609 17.206H12.0391C12.1379 17.206 12.2188 17.1239 12.2188 17.0236V10.8213C12.2188 10.721 12.1379 10.6389 12.0391 10.6389Z"/>
                                    </svg>                                    
                                </span>
                            </button>
                        </div>
                    </div>
                    <!-- Pokemon Card 6 -->
                    <div class="free relative shadow-md">
                        <button class="closeBtn absolute z-40 right-0">
                            <span>
                                <svg width="28" height="28" viewBox="0 0 47 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M46.5 23.8573C46.5 36.7643 36.1955 47.2146 23.5 47.2146C10.8045 47.2146 0.5 36.7643 0.5 23.8573C0.5 10.9503 10.8045 0.5 23.5 0.5C36.1955 0.5 46.5 10.9503 46.5 23.8573Z" fill="white" stroke="#FF0000"/>
                                    <path d="M25.41 23.3497L29.71 18.9945C29.8983 18.8033 30.0041 18.544 30.0041 18.2737C30.0041 18.0033 29.8983 17.744 29.71 17.5529C29.5217 17.3617 29.2663 17.2543 29 17.2543C28.7337 17.2543 28.4783 17.3617 28.29 17.5529L24 21.9182L19.71 17.5529C19.5217 17.3617 19.2663 17.2543 19 17.2543C18.7337 17.2543 18.4783 17.3617 18.29 17.5529C18.1017 17.744 17.9959 18.0033 17.9959 18.2737C17.9959 18.544 18.1017 18.8033 18.29 18.9945L22.59 23.3497L18.29 27.7049C18.1963 27.7993 18.1219 27.9116 18.0711 28.0353C18.0203 28.159 17.9942 28.2917 17.9942 28.4257C17.9942 28.5597 18.0203 28.6924 18.0711 28.8161C18.1219 28.9398 18.1963 29.0521 18.29 29.1465C18.383 29.2417 18.4936 29.3172 18.6154 29.3687C18.7373 29.4203 18.868 29.4468 19 29.4468C19.132 29.4468 19.2627 29.4203 19.3846 29.3687C19.5064 29.3172 19.617 29.2417 19.71 29.1465L24 24.7811L28.29 29.1465C28.383 29.2417 28.4936 29.3172 28.6154 29.3687C28.7373 29.4203 28.868 29.4468 29 29.4468C29.132 29.4468 29.2627 29.4203 29.3846 29.3687C29.5064 29.3172 29.617 29.2417 29.71 29.1465C29.8037 29.0521 29.8781 28.9398 29.9289 28.8161C29.9797 28.6924 30.0058 28.5597 30.0058 28.4257C30.0058 28.2917 29.9797 28.159 29.9289 28.0353C29.8781 27.9116 29.8037 27.7993 29.71 27.7049L25.41 23.3497Z" fill="#FF0000"/>
                                </svg>   
                            </span>
                        </button>
                        <div class="relative">    
                            <div class="bg-gray-200 w-auto lg:w-56 h-56 flex items-center justify-center rounded-t typeCard">
                                <div class="bg-white rounded-full border-4 typeBorder">
                                    <img src="img/unown.png" alt="">
                                </div>
                            </div>
                            <div class="statCard inset-0 absolute hidden bg-gray-200 w-auto lg:w-56 h-56 items-center justify-center rounded-t">
                                <div class="pokeStats flex w-full">
                                    <div class="w-full p-2">
                                        <p class="hpStat text-xs">HP:</p>
                                        <div class="w-full h-3 bg-gray-500">
                                            <div class="stats hpBar h-3 bg-pink-600"></div>
                                        </div>
                                        <p class="atkStat text-xs">ATK:</p>
                                        <div class="w-full h-3 bg-gray-500">
                                            <div class="stats atkBar h-3 bg-pink-600"></div>
                                        </div>
                                        <p class="defStat text-xs">DEF:</p>
                                        <div class="w-full h-3 bg-gray-500">
                                            <div class="stats defBar h-3 bg-pink-600"></div>
                                        </div>
                                        <p class="spAtkStat text-xs">SP.ATK:</p>
                                        <div class="w-full h-3 bg-gray-500">
                                            <div class="stats spAtkBar h-3 bg-pink-600"></div>
                                        </div>
                                        <p class="spDefStat text-xs">SP.DEF:</p>
                                        <div class="w-full h-3 bg-gray-500">
                                            <div class="stats spDefBar h-3 bg-pink-600"></div>
                                        </div>
                                        <p class="spdStat text-xs">SPD:</p>
                                        <div class="w-full h-3 bg-gray-500">
                                            <div class="stats spdBar h-3 bg-pink-600"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="pokeInfo w-auto lg:w-56 bg-white flex p-2 relative rounded-b">
                            <p class="mr-2 text-gray-600">#??</p>
                            <h3 class="font-semibold text-gray-700">??????</h3>
                            <button class="absolute right-2 statBtn">
                                <span>
                                    <svg class="statOff" width="23" height="24" viewBox="0 0 23 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M11.5 1.88272C5.94316 1.88272 1.4375 6.45689 1.4375 12.0982C1.4375 17.7395 5.94316 22.3137 11.5 22.3137C17.0568 22.3137 21.5625 17.7395 21.5625 12.0982C21.5625 6.45689 17.0568 1.88272 11.5 1.88272ZM11.5 20.5807C6.88652 20.5807 3.14453 16.7818 3.14453 12.0982C3.14453 7.4146 6.88652 3.61571 11.5 3.61571C16.1135 3.61571 19.8555 7.4146 19.8555 12.0982C19.8555 16.7818 16.1135 20.5807 11.5 20.5807Z"/>
                                        <path d="M10.4219 8.085C10.4219 8.37528 10.5355 8.65368 10.7377 8.85894C10.9398 9.0642 11.2141 9.17951 11.5 9.17951C11.7859 9.17951 12.0602 9.0642 12.2623 8.85894C12.4645 8.65368 12.5781 8.37528 12.5781 8.085C12.5781 7.79471 12.4645 7.51632 12.2623 7.31106C12.0602 7.10579 11.7859 6.99048 11.5 6.99048C11.2141 6.99048 10.9398 7.10579 10.7377 7.31106C10.5355 7.51632 10.4219 7.79471 10.4219 8.085ZM12.0391 10.6389H10.9609C10.8621 10.6389 10.7812 10.721 10.7812 10.8213V17.0236C10.7812 17.1239 10.8621 17.206 10.9609 17.206H12.0391C12.1379 17.206 12.2188 17.1239 12.2188 17.0236V10.8213C12.2188 10.721 12.1379 10.6389 12.0391 10.6389Z"/>
                                    </svg>                                    
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

<%- include('partials/footer.ejs') %>